.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 20%;
  height: 100%;
  background-color: #2c2c2c;
  color: white;
  padding-top: 3.5rem;
  transition: left 0.4s ease-in-out;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 1rem;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  font-size: 1.1rem;
}

.sidebar ul li a:hover {
  background-color: #495057;
}

.close-btn {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar {
  background-color: #2c2c2c;
  padding: 0.6rem 1.2rem;
}

.menu-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}


.mt-6 {
  margin-top: 7rem;
}

.hero_content{
  max-width:50%;
}

/* Responsive sidebar full width on mobile */
@media (max-width: 42.67em) {
  .sidebar {
    width: 100%;
  }
}


      /* Custom styles to match the navbar */
      .navbar {
        background-color: #343a40; /* Dark background color */
        color: white; /* Text color */
      }

      /* Flexbox layout to push footer to the bottom */
      html, body {
        height: 100%; /* Ensure the html and body take up full height */
        margin: 0;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1; /* Allow content to grow and take up remaining space */
      }

      /* Footer styling */
      .footer {
        background-color: #343a40; /* Same as navbar */
        color: white; /* Same as navbar */
        padding: 20px 0; /* Increased padding for larger size */
        text-align: center;
        flex-shrink: 0; /* Prevent footer from shrinking */
        font-size: 1.2rem; /* Increased font size */
      }

      .footer p {
        margin: 0;
      }

      /* Button styling for dynamic controls */
      .controls {
        margin-bottom: 20px;
        text-align: center;
      }

      .controls button {
        margin: 5px;
      }
    
